
<div class="@DropdownClassName" @onfocusout="HideDropDownItems">
    <SiteButton SiteButtonClass="@SiteButtonClassName" OnSiteButtonClicked="DropDownToggleClicked" ShowCaretIcon="@ShowCaretDownIcon" IconClass="@ToggleButtonIconClass" Text="@ToggleButtonText" Disabled="Disabled"> </SiteButton>
    <div class="dropdownItems" style="display: @DropDownItemsDisplayValue">
        <ul>
            @DropDownElements
        </ul>
    </div>
</div>


